<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" href="static\images\BMW-Logo.ico">
</head>
<body class="w3-container">
    <header class="w3-container w3-padding-32">
        <a href="/" class="w3-bar-item w3-button">
            <img src="https://tse1.mm.bing.net/th/id/OIP.vfJSSFZUa_YUhwH0JiQdDgHaBH?w=800&h=120&rs=1&pid=ImgDetMain&o=7&rm=3" alt="BMW Logo" class="logo" width = "50" height = "30">
        </a>
    </header>
    <nav class="w3-bar w3-blue">
        <a href="{{ url_for('specific_model', modelID=0) }}" class="w3-bar-item w3-button">Sport</a>
        <a href="{{ url_for('specific_model', modelID=1) }}" class="w3-bar-item w3-button">M</a>
        <a href="{{ url_for('specific_model', modelID=2) }}" class="w3-bar-item w3-button">Tour</a>
        <a href="{{ url_for('specific_model', modelID=3) }}" class="w3-bar-item w3-button">Roadster</a>
        <a href="{{ url_for('specific_model', modelID=4) }}" class="w3-bar-item w3-button">Heritage</a>
        <a href="{{ url_for('specific_model', modelID=5) }}" class="w3-bar-item w3-button">Adventure</a>
        <a href="{{ url_for('specific_model', modelID=6) }}" class="w3-bar-item w3-button">Urban Mobility</a>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>